
body { background-color: #353433ff;
       margin: 0%;}

#about { position: absolute;
         top: 5px;
         left: 10px;
         text-decoration: none;
         color: white;}

#myskills { position: absolute;
            top: 5px;
            left: 100px;
            text-decoration: none;
            color: white;}

#myfavoritepage { position: absolute;
                  top: 5px;
                  left: 250px;
                  text-decoration: none;
                  color: white;}

h1 {font-family: 'Montserrat', sans-serif;
    font-style: italic;
    line-height: 1.2;
    font-weight: 700;
    color: aliceblue;
    font-size: 40px;
    background-color: black;
    padding: 15px 10px 15px 20px;
    text-align: center;}

.foto { margin: 0%;
        position: absolute;
        top: 115px;
        padding: 15px 100% 15px 15px;
        background-color: white;}

h2 {font-family: 'Montserrat', sans-serif;
    font-style: normal;
    line-height: 1.2;
    font-weight: 100;
    color: black;
    font-size: 25px;
    margin: 1%;}

.descricao {font-family: 'Montserrat', sans-serif;
            font-style: normal;
            line-height: 1.5;
            font-weight: 100;
            color: black;
            margin: 1%;}

#descricao { padding-left: 340px;
             padding-right: 80px;
             text-align:justify;
             position: absolute;
             top: 220px;}

.habilidades {font-family: 'Montserrat', sans-serif;
           font-style: normal;
           line-height: 1.5;
           font-weight: 100;
           color: aliceblue;
           font-size: 18px;}

#habilidades { position: absolute;
               top: 550px; }

#hard-skills { position: absolute;
                  top: 550px;
                  left: 350px;}

.adaptabilidade {font-size: 16px;}
.aprender {font-size: 16px;}
.criatividade {font-size: 16x;}
.emocional {font-size: 16px;}
.resiliencia {font-size: 16px;}
.lideranca {font-size: 16px;}
.motivacao {font-size: 16px;}
.organizacao {font-size: 16px;}
.html {font-size: 16px;}
.css {font-size: 16px;}
.javascript {font-size: 16px;}


#legend { padding-left: 25px;
          text-align: left;
          position: absolute;
          top: 830px;
          font-family: 'Montserrat', sans-serif;
          font-style: normal;
          color: rgb(117, 117, 117);}

#page { padding-left: 25px;
        padding-bottom: 10px;
        text-align: left;
        position: absolute;
        top: 2000px;
        z-index: 1;
        text-decoration: none;
        color:  white;}

#photo { padding-left: 220px;
         text-align: left;
         position: absolute;
         top: 2000px;
         text-decoration: none;
         color: white;}